.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    position: relative;
}

.headerSubtitle {
    font-weight: normal;
}

.headerImage {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url("../photo.webp") no-repeat top / cover, url("../photo.jpg") no-repeat top / cover, #73808d;
    margin-right: 2rem;
}

.titleGroup {
    transition: all 0.3s ease-in-out;
}

.langChoise {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.separator {
    width: 1px;
    background-color: var(--secondary-text);
    height: 16px;
}
.choiseButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: var(--primary-text);
}

.choiseButton::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--primary-text);
    display: block;
    transition: 0.3s ease-in-out;
}

.choiseButton:hover:after {
    width: 100%;
}

@media (max-width: 768px) {
    .headerImage {
        border-radius: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .headerImage::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .titleGroup {
        color: #fff;
        margin-left: 20px;
    }
    .separator,
    .choiseButton {
        color: #fff;
    }

    .choiseButton::after {
        background-color: #fff;
    }
}
