.RightSideBar {
    color: var(--secondary-text);
    max-width: 200px;
}

.title {
    color: var(--secondary-text);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Arial";
    letter-spacing: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.contactsLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-text);
    margin-bottom: 0.3rem;
}

a,
svg {
    transition: all 0.3s ease-in-out;
    color: var(--secondary-text);
}
.contactsLink:hover a {
    color: var(--primary-text);
}

.contactsLink:hover svg {
    color: var(--primary-text);
}
.informBlock {
    margin-bottom: 1rem;
}

.informBlock:hover .title {
    color: var(--primary-text);
}

@media (max-width: 768px) {
    .RightSideBar {
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-top: 3rem;
    }
}
